<%= form_for [@post, @post.comments.build], remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter new comment" %>
    <%= f.submit "Create Comment", class: 'btn btn-success form-control' %>
  </div>
<% end %>